--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
numpy==1.26.4
librosa==0.10.2
soundfile==0.12.1
Flask==3.0.0
flask-cors==4.0.0
bcrypt==4.1.2
PyJWT==2.8.0
psycopg2-binary==2.9.9
gunicorn==21.2.0
